.root{
    -fx-background-image: url("tic-tac-toe.png");
    -fx-background-position: center center;
}

#ticTacToeLabel{
    -fx-text-fill: orange;
    -fx-font-weight: bold;
    -fx-font-size: 32px;
}

#restartButton{
        -fx-background-color: black;
        -fx-text-fill: orange;
        -fx-font-size: 16px;
        -fx-font-weight: bold;
}

#message {
            -fx-text-fill: antiquewhite;
            -fx-background-color: black;
}

